* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$ancho : 150px;
$alto:20px;
$anchoInput: 80% ;
$altoInput: 20px;

ul {
    list-style-type: none;
    label {
    width:$ancho;
    height: $alto;
    display: inline-block;
    }
    input [type='text'] {
        width: $anchoInput;
        height: $altoInput;
    }
}
